<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613859614670-iss0d8ct1qrkqitf438att1k47folbt3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613859614670-iss0d8ct1qrkqitf438att1k47folbt3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>613859614670-mqgu9hrlkm7d0ca1et8dnr50064mk4ct.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAubFmZFUkdeNlHBSmEQkkrtu0MMTVXmLA</string>
	<key>GCM_SENDER_ID</key>
	<string>613859614670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.estufaiot</string>
	<key>PROJECT_ID</key>
	<string>estufainteligente-366da</string>
	<key>STORAGE_BUCKET</key>
	<string>estufainteligente-366da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613859614670:ios:9e0129f40d285d3c8ad59f</string>
	<key>DATABASE_URL</key>
	<string>https://estufainteligente-366da-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>